body {
    text-align: right;
}
.post-cover-image {
    max-height: 170px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    background-color: #c5c5c5;
}

.listfeaturedtag h2.card-title, .listrecent h2.card-title {
    font-size: 1.4rem;
}

.navbar-brand {
    margin-right: 0;
}

.social-urls a img {
    width: 24px;
}

#single-article-sidebar ul li {
    list-style: none;
}

.text-red {
    color: red;
}

.listfeaturedtag .thumbnail {
    background-position: 50% 22% !important;
}

blockquote {
    border-left: none;
    border-right: 4px solid #00ab6b;
}


.post-cover-link, .post-citation {
    margin: 0;
    text-align: left;
}
.post-citation a {
    color: #999;
    font-size: 14px;
}

.hljs {
    direction: ltr;
    text-align: left;
}
.hljs * {
    font-family: consolas, monospace;
}

.btn {
    font-family: Vazir;
}

.cke_source {
    direction: ltr;
}

.notifications {
    left: 0;
    bottom: 0;
    top: initial !important;
    right: initial !important;
    font-size: 15px !important;
}

.notifications .notification-content {
    text-align: right;
}

pre {
    font-size: 72%;
}

.three-dots {
    font-size: 20px !important;
    text-align: center !important;
    display: block !important;
}

div.three-dots::after {
    content: '. . .';
}

div.three-dots p {
    display: none;
}


.card .post-title {
    font-size: 1.2em;
}

.card .post-date {
    font-size: 14px !important;
}

.group-posts .group-posts-item {
    /* padding: 2%; */
    padding-left: 10px;
}

.group-posts .group-posts-item .card {
    height: 370px;
}

.slick-next i.fa, .slick-prev i.fa {
    font-size: 20px;
    color: #999;
}

.font-consolas {
    font-family: consolas;
}