.post-cover-image {
    max-height: 170px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    background-color: #c5c5c5;
}

.listfeaturedtag h2.card-title, .listrecent h2.card-title {
    font-size: 1.4rem;
}

.navbar-brand {
    margin-right: 0;
}

.social-urls a img {
    width: 24px;
}

#single-article-sidebar ul li {
    list-style: none;
}

.text-red {
    color: red;
}